<a href="https://colab.research.google.com/github/Sanj-bot/JourneyIntoTheWorldOfPython/blob/main/SortingListTuplesAndObjects.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [26]:
class Employee():
  def __init__(self,name,age,salary):
      self.name=name
      self.age=age
      self.salary=salary

  def __repr__(self):
      return '({},{},${})'.format(self.name,self.age,self.salary)

from operator import attrgetter

e1= Employee('Carl',37,70000)
e2= Employee('Sarah',29,80000)
e3= Employee('John',43,90000)

employees=[e1,e2,e3]
def e_sort(emp):
  return emp.name

s_employees=sorted(employees,key=e_sort,reverse=True)
#key=lambda e: e.name
#key = attrgetter('age')
print(s_employees)

[(Sarah,29,$80000), (John,43,$90000), (Carl,37,$70000)]

In [18]:
li=[1,2,10,23,21,23,21,2,5,75,3,7,34]
s_li=sorted(li,reverse=True)
print('Sorted Variable:\t',s_li)
print('Original Variable\t',li)
li.sort(reverse=True)
print('Original Variable:\t',li)

Sorted Variable:	 [75, 34, 23, 23, 21, 21, 10, 7, 5, 3, 2, 2, 1]
Original Variable	 [1, 2, 10, 23, 21, 23, 21, 2, 5, 75, 3, 7, 34]
Original Variable:	 [75, 34, 23, 23, 21, 21, 10, 7, 5, 3, 2, 2, 1]

In [8]:
tup=(23,22,21,2,5,43,8,3383,23,22)
s_tup=sorted(tup)
print('Tuple\t',s_tup)

Tuple	 [2, 5, 8, 21, 22, 22, 23, 23, 43, 3383]

In [10]:
#keys are sorted
di={'Name':'Sanjay','Job':'Programming','Age':22,'OS':'linux'}
sdi=sorted(di)
print('Dict\t',sdi)

Dict	 ['Age', 'Job', 'Name', 'OS']

In [12]:
li=[-12,-23,-2,1,2,32]
print(sorted(li))
#absolute value sort
print(sorted(li,key=abs))

[-23, -12, -2, 1, 2, 32]
[1, -2, 2, -12, -23, 32]