In [1]:
import pandas as pd
import numpy as np

In [2]:
companies=pd.read_csv('business/companies.csv')

In [5]:
#shape of companies dataframe
companies.shape

(66368, 14)

In [7]:
#give me info of companies dataframe
companies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 66368 entries, 0 to 66367
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   permalink          66368 non-null  object
 1   name               66367 non-null  object
 2   homepage_url       61310 non-null  object
 3   category_list      63220 non-null  object
 4   funding_total_usd  66368 non-null  object
 5   status             66368 non-null  object
 6   country_code       59410 non-null  object
 7   state_code         57821 non-null  object
 8   region             58338 non-null  object
 9   city               58340 non-null  object
 10  funding_rounds     66368 non-null  int64
 11  founded_at         51147 non-null  object
 12  first_funding_at   66344 non-null  object
 13  last_funding_at    66368 non-null  object
dtypes: int64(1), object(13)
memory usage: 7.1+ MB

In [9]:
#dispaly first 4 rows and columns
pd.set_option('display.max_columns',4)
pd.set_option('display.max_rows',4)

In [10]:
companies

,permalink,name,...,first_funding_at,last_funding_at
0,/organization/-fame,#fame,...,2015-01-05,2015-01-05
1,/organization/-qounter,:Qounter,...,2014-03-01,2014-10-14
...,...,...,...,...,...
66366,/organization/Ôasys-2,Ôasys,...,2015-01-01,2015-01-01
66367,/organization/İnovatiff-reklam-ve-tanıtım-hizm...,İnovatiff Reklam ve Tanıtım Hizmetleri Tic,...,2013-10-01,2013-10-01

In [11]:
#print all columns
companies.columns

Index(['permalink', 'name', 'homepage_url', 'category_list',
       'funding_total_usd', 'status', 'country_code', 'state_code', 'region',
       'city', 'funding_rounds', 'founded_at', 'first_funding_at',
       'last_funding_at'],
      dtype='object')

In [15]:
#print name of all companies
names=companies['name'].unique()