In [ ]:
#pandas 5

In [1]:
import pandas as pd

In [2]:
import pandas as pd
people={
    "first":["Corey","Jane","John"],
    "last":["Schafer","Doe", "Doe"],
    "email":["corey@gmail.com","Jane@gmail.com","john@gmail.com"]
}
df=pd.DataFrame(people)

In [3]:
df

   first     last            email
0  Corey  Schafer  corey@gmail.com
1   Jane      Doe   Jane@gmail.com
2   John      Doe   john@gmail.com

In [4]:
df.columns

Index(['first', 'last', 'email'], dtype='object')

In [22]:
df.columns=['first_name','last_name','email']

In [23]:
df
df.columns=[x.lower() for x in df.columns]

In [24]:
df

  first_name last_name            email
0      Corey   Schafer  corey@gmail.com
1       Jane       Doe   Jane@gmail.com
2       John       Doe   john@gmail.com

In [28]:
df.rename(columns={'first_name':'first','last_name':'last'},inplace=True)

In [29]:
df

   first     last            email
0  Corey  Schafer  corey@gmail.com
1   Jane      Doe   Jane@gmail.com
2   John      Doe   john@gmail.com

In [30]:
df.loc[2]

first              John
last                Doe
email    john@gmail.com
Name: 2, dtype: object

In [31]:
df.loc[2]=['John','Smith','JohnSmith@email.com']

In [32]:
df

   first     last                email
0  Corey  Schafer      corey@gmail.com
1   Jane      Doe       Jane@gmail.com
2   John    Smith  JohnSmith@email.com

In [33]:
df.loc[2,['last','email']]=['Doe','JohnDoe@gmail.com']

In [34]:
df

   first     last              email
0  Corey  Schafer    corey@gmail.com
1   Jane      Doe     Jane@gmail.com
2   John      Doe  JohnDoe@gmail.com

In [35]:
df.loc[2,'last']='Smith'

In [36]:
df

   first     last              email
0  Corey  Schafer    corey@gmail.com
1   Jane      Doe     Jane@gmail.com
2   John    Smith  JohnDoe@gmail.com

In [37]:
df.at[2,'last']='Doe'
df

   first     last              email
0  Corey  Schafer    corey@gmail.com
1   Jane      Doe     Jane@gmail.com
2   John      Doe  JohnDoe@gmail.com

In [39]:
# filt=(df['email']=='JohnDoe@gmail.com')
# df[filt]['last']='Smith'

C:\Users\user\AppData\Local\Temp\ipykernel_5908\3973508707.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[filt]['last']='Smith'

In [40]:
filt=(df['email']=='JohnDoe@gmail.com')
df.loc[filt,'last']='Smith'

In [41]:
df

   first     last              email
0  Corey  Schafer    corey@gmail.com
1   Jane      Doe     Jane@gmail.com
2   John    Smith  JohnDoe@gmail.com

In [43]:
df['email'].str.lower()#changes aren't permanent
df['email']=df['email'].str.lower()

In [44]:
df

   first     last              email
0  Corey  Schafer    corey@gmail.com
1   Jane      Doe     jane@gmail.com
2   John    Smith  johndoe@gmail.com

In [45]:
df['email'].apply(len)

0    15
1    14
2    17
Name: email, dtype: int64

In [49]:
def update_email(email):
    return email.upper()

In [50]:
df['email'].apply(update_email)

0      COREY@GMAIL.COM
1       JANE@GMAIL.COM
2    JOHNDOE@GMAIL.COM
Name: email, dtype: object

In [51]:
df

   first     last              email
0  Corey  Schafer    corey@gmail.com
1   Jane      Doe     jane@gmail.com
2   John    Smith  johndoe@gmail.com

In [53]:
df['email']=df['email'].apply(update_email)

In [54]:
df['email']=df['email'].apply(lambda x: x.lower())

In [55]:
df

   first     last              email
0  Corey  Schafer    corey@gmail.com
1   Jane      Doe     jane@gmail.com
2   John    Smith  johndoe@gmail.com

In [ ]:
#tbc 22mints