In [2]:
import pandas as pd
import numpy as np
people={
    "first":["Corey","Jane","John"],
    "last":["Schafer","Doe", "Doe"],
    "email":["corey@gmail.com","Jane@gmail.com","john@gmail.com"]
}
df=pd.DataFrame(people)

In [3]:
df

   first     last            email
0  Corey  Schafer  corey@gmail.com
1   Jane      Doe   Jane@gmail.com
2   John      Doe   john@gmail.com

In [4]:
df.sort_values(by='last',ascending=False)

   first     last            email
0  Corey  Schafer  corey@gmail.com
1   Jane      Doe   Jane@gmail.com
2   John      Doe   john@gmail.com

In [5]:
df.sort_values(by=['last','first'],ascending=True) #sort on last name then first name

   first     last            email
1   Jane      Doe   Jane@gmail.com
2   John      Doe   john@gmail.com
0  Corey  Schafer  corey@gmail.com

In [6]:
df.sort_values(by=['last','first'],ascending=[False,True],inplace=True)

In [7]:
df

   first     last            email
0  Corey  Schafer  corey@gmail.com
1   Jane      Doe   Jane@gmail.com
2   John      Doe   john@gmail.com

In [8]:
df.sort_index()

   first     last            email
0  Corey  Schafer  corey@gmail.com
1   Jane      Doe   Jane@gmail.com
2   John      Doe   john@gmail.com

In [9]:
df['last'].sort_values()

1        Doe
2        Doe
0    Schafer
Name: last, dtype: object

In [10]:
import pandas as pd
df=pd.read_csv('data/survey_results_public.csv')
schema_df=pd.read_csv('data/survey_results_schema.csv')

In [11]:
df.sort_values(by='Country',inplace=True)

In [12]:
df['Country'].head(100)

39018    Afghanistan
62723    Afghanistan
85185    Afghanistan
50437    Afghanistan
88340    Afghanistan
            ...
38869        Albania
70187        Albania
27476        Albania
46829        Albania
24964        Albania
Name: Country, Length: 100, dtype: object

In [13]:
df.sort_values(by=['Country','LanguageWantToWorkWith'],ascending=[True,False],inplace=True)

KeyError: 'LanguageWantToWorkWith'

In [14]:
df[['Country','LanguageWantToWorkWith']].head(50) #note: 2 square brackets]]

KeyError: "['LanguageWantToWorkWith'] not in index"

In [15]:
df.columns

Index(['Respondent', 'MainBranch', 'Hobbyist', 'OpenSourcer', 'OpenSource',
       'Employment', 'Country', 'Student', 'EdLevel', 'UndergradMajor',
       'EduOther', 'OrgSize', 'DevType', 'YearsCode', 'Age1stCode',
       'YearsCodePro', 'CareerSat', 'JobSat', 'MgrIdiot', 'MgrMoney',
       'MgrWant', 'JobSeek', 'LastHireDate', 'LastInt', 'FizzBuzz',
       'JobFactors', 'ResumeUpdate', 'CurrencySymbol', 'CurrencyDesc',
       'CompTotal', 'CompFreq', 'ConvertedComp', 'WorkWeekHrs', 'WorkPlan',
       'WorkChallenge', 'WorkRemote', 'WorkLoc', 'ImpSyn', 'CodeRev',
       'CodeRevHrs', 'UnitTests', 'PurchaseHow', 'PurchaseWhat',
       'LanguageWorkedWith', 'LanguageDesireNextYear', 'DatabaseWorkedWith',
       'DatabaseDesireNextYear', 'PlatformWorkedWith',
       'PlatformDesireNextYear', 'WebFrameWorkedWith',
       'WebFrameDesireNextYear', 'MiscTechWorkedWith',
       'MiscTechDesireNextYear', 'DevEnviron', 'OpSys', 'Containers',
       'BlockchainOrg', 'BlockchainIs', 'BetterLife', 'ITperson', 'OffOn',
       'SocialMedia', 'Extraversion', 'ScreenName', 'SOVisit1st',
       'SOVisitFreq', 'SOVisitTo', 'SOFindAnswer', 'SOTimeSaved',
       'SOHowMuchTime', 'SOAccount', 'SOPartFreq', 'SOJobs', 'EntTeams',
       'SOComm', 'WelcomeChange', 'SONewContent', 'Age', 'Gender', 'Trans',
       'Sexuality', 'Ethnicity', 'Dependents', 'SurveyLength', 'SurveyEase'],
      dtype='object')

In [17]:
df['Age'].nlargest(30)

34757    99.0
11279    99.0
16126    99.0
43862    99.0
25147    99.0
78072    99.0
57808    99.0
27680    99.0
29707    99.0
69840    99.0
61847    99.0
9792     99.0
83561    99.0
36089    99.0
11495    99.0
87858    99.0
20086    99.0
83085    99.0
50517    99.0
42514    99.0
49804    99.0
56579    98.9
75382    98.0
77992    98.0
21287    98.0
5461     97.0
64464    95.0
87686    95.0
63800    94.0
56511    91.0
Name: Age, dtype: float64

In [18]:
df.nlargest(10,'Age')

,Respondent,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,...,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
34757,34973,"I used to be a developer by profession, but no...",No,Less than once per year,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,Argentina,"Yes, part-time",NaN,NaN,...,Not applicable - I did not use Stack Overflow ...,NaN,99.0,NaN,Yes,Gay or Lesbian,NaN,No,Too short,Difficult
11279,11332,I am a developer by profession,No,Less than once a month but more than once per ...,The quality of OSS and closed source software ...,"Not employed, but looking for work",Azerbaijan,NaN,I never completed any formal education,NaN,...,Not applicable - I did not use Stack Overflow ...,NaN,99.0,"Non-binary, genderqueer, or gender non-conforming",Yes,Bisexual,NaN,Yes,Too long,Difficult
16126,16214,"I am not primarily a developer, but I write co...",Yes,Less than once per year,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,Bangladesh,"Yes, part-time","Master’s degree (MA, MS, M.Eng., MBA, etc.)","A natural science (ex. biology, chemistry, phy...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Cour...,99.0,NaN,No,NaN,NaN,NaN,Too long,Easy
43862,44142,I am a developer by profession,Yes,Less than once a month but more than once per ...,"OSS is, on average, of LOWER quality than prop...",Employed full-time,Belgium,No,"Other doctoral degree (Ph.D, Ed.D., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Courses on technologies you're interested in,99.0,Man,No,Bisexual;Gay or Lesbian;Straight / Heterosexual,South Asian,Yes,Too long,Difficult
25147,25294,I code primarily as a hobby,Yes,Less than once per year,The quality of OSS and closed source software ...,Employed part-time,Brazil,"Yes, full-time","Bachelor’s degree (BA, BS, B.Eng., etc.)",Fine arts or performing arts (ex. graphic desi...,...,Somewhat more welcome now than last year,NaN,99.0,Woman,Yes,NaN,NaN,Yes,Appropriate in length,Neither easy nor difficult
78072,78562,I am a student who is learning to code,Yes,Less than once a month but more than once per ...,"OSS is, on average, of HIGHER quality than pro...",Employed part-time,Canada,NaN,NaN,NaN,...,A lot less welcome now than last year,NaN,99.0,NaN,NaN,NaN,NaN,NaN,Too long,Difficult
57808,58176,"I am not primarily a developer, but I write co...",No,Less than once a month but more than once per ...,The quality of OSS and closed source software ...,Employed full-time,Canada,"Yes, full-time","Bachelor’s degree (BA, BS, B.Eng., etc.)",Mathematics or statistics,...,Somewhat more welcome now than last year,Tech articles written by other developers;Indu...,99.0,Man,NaN,Straight / Heterosexual,NaN,No,Too long,Neither easy nor difficult
27680,27841,I am a developer by profession,Yes,Never,The quality of OSS and closed source software ...,Employed full-time,Canada,No,"Other doctoral degree (Ph.D, Ed.D., etc.)",Mathematics or statistics,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,99.0,Man,No,Straight / Heterosexual,NaN,Yes,Appropriate in length,Neither easy nor difficult
29707,29884,I am a developer by profession,Yes,Never,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,Finland,No,Some college/university study without earning ...,"Information systems, information technology, o...",...,A lot less welcome now than last year,Industry news about technologies you're intere...,99.0,Man,No,Straight / Heterosexual,NaN,Yes,Too long,Difficult
69840,70284,I am a student who is learning to code,No,Never,NaN,"Not employed, and not looking for work",Finland,No,"Secondary school (e.g. American high school, G...",NaN,...,NaN,NaN,99.0,NaN,NaN,NaN,NaN,No,Appropriate in length,Difficult

In [19]:
df.nlargest(10,'Age')

,Respondent,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,...,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
34757,34973,"I used to be a developer by profession, but no...",No,Less than once per year,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,Argentina,"Yes, part-time",NaN,NaN,...,Not applicable - I did not use Stack Overflow ...,NaN,99.0,NaN,Yes,Gay or Lesbian,NaN,No,Too short,Difficult
11279,11332,I am a developer by profession,No,Less than once a month but more than once per ...,The quality of OSS and closed source software ...,"Not employed, but looking for work",Azerbaijan,NaN,I never completed any formal education,NaN,...,Not applicable - I did not use Stack Overflow ...,NaN,99.0,"Non-binary, genderqueer, or gender non-conforming",Yes,Bisexual,NaN,Yes,Too long,Difficult
16126,16214,"I am not primarily a developer, but I write co...",Yes,Less than once per year,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,Bangladesh,"Yes, part-time","Master’s degree (MA, MS, M.Eng., MBA, etc.)","A natural science (ex. biology, chemistry, phy...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Cour...,99.0,NaN,No,NaN,NaN,NaN,Too long,Easy
43862,44142,I am a developer by profession,Yes,Less than once a month but more than once per ...,"OSS is, on average, of LOWER quality than prop...",Employed full-time,Belgium,No,"Other doctoral degree (Ph.D, Ed.D., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Courses on technologies you're interested in,99.0,Man,No,Bisexual;Gay or Lesbian;Straight / Heterosexual,South Asian,Yes,Too long,Difficult
25147,25294,I code primarily as a hobby,Yes,Less than once per year,The quality of OSS and closed source software ...,Employed part-time,Brazil,"Yes, full-time","Bachelor’s degree (BA, BS, B.Eng., etc.)",Fine arts or performing arts (ex. graphic desi...,...,Somewhat more welcome now than last year,NaN,99.0,Woman,Yes,NaN,NaN,Yes,Appropriate in length,Neither easy nor difficult
78072,78562,I am a student who is learning to code,Yes,Less than once a month but more than once per ...,"OSS is, on average, of HIGHER quality than pro...",Employed part-time,Canada,NaN,NaN,NaN,...,A lot less welcome now than last year,NaN,99.0,NaN,NaN,NaN,NaN,NaN,Too long,Difficult
57808,58176,"I am not primarily a developer, but I write co...",No,Less than once a month but more than once per ...,The quality of OSS and closed source software ...,Employed full-time,Canada,"Yes, full-time","Bachelor’s degree (BA, BS, B.Eng., etc.)",Mathematics or statistics,...,Somewhat more welcome now than last year,Tech articles written by other developers;Indu...,99.0,Man,NaN,Straight / Heterosexual,NaN,No,Too long,Neither easy nor difficult
27680,27841,I am a developer by profession,Yes,Never,The quality of OSS and closed source software ...,Employed full-time,Canada,No,"Other doctoral degree (Ph.D, Ed.D., etc.)",Mathematics or statistics,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,99.0,Man,No,Straight / Heterosexual,NaN,Yes,Appropriate in length,Neither easy nor difficult
29707,29884,I am a developer by profession,Yes,Never,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,Finland,No,Some college/university study without earning ...,"Information systems, information technology, o...",...,A lot less welcome now than last year,Industry news about technologies you're intere...,99.0,Man,No,Straight / Heterosexual,NaN,Yes,Too long,Difficult
69840,70284,I am a student who is learning to code,No,Never,NaN,"Not employed, and not looking for work",Finland,No,"Secondary school (e.g. American high school, G...",NaN,...,NaN,NaN,99.0,NaN,NaN,NaN,NaN,No,Appropriate in length,Difficult